.html {
  //background-color: #e34c26;
  background: url("/resources/html.png") no-repeat center;
}

.html:hover {
  background-color: #e03409;
}

.css {
  //background-color: #2965f1;
  background: url("/resources/css.png") no-repeat center;
}

.css:hover {
  background-color: #0c51f1;
}

.js {
  //background-color: #f7df1e;
  background: url("/resources/js.png") no-repeat center;
}

.js:hover {
  background-color: #f6da0a;
}

.ts {
  //background-color: #3178c6;
  background: url("/resources/typescript.png") no-repeat center;
}

.ts:hover {
  background-color: #186dc7;
}

.vue {
  // background-color: #4fc08d;
  background: url("/resources/vue.png") no-repeat center;
}

.vue:hover {
  background-color: #28be7b;
}

.react {
  //background-color: #61dafb;
  background: url("/resources/react.png") no-repeat center;
}

.react:hover {
  background-color: #1fcaf9;
}

.react-native {
  //background-color: #61dafb;
  background: url("/resources/react-native.png") no-repeat center;
}

.react-native:hover {
  background-color: #1fcaf9;
}

.angular {
  //background-color: #dd0031;
  background: url("/resources/angularjs.png") no-repeat center;
}

.angular:hover {
  background-color: #e23a5e;
}

.flutter {
  //background-color: #02569b;
  background: url("/resources/flutter.png") no-repeat center;
}

.flutter:hover {
  background-color: #1fcaf9;
}

.git {
  //background-color: #f34f29;
  background: url("/resources/git.png") no-repeat center;
}

.git:hover {
  background-color: #c74321;
}

.free-icons {
  //background-color: #ffd700;
  background: url("/resources/free-icons.png") no-repeat center;
}

.free-icons:hover {
  background-color: #ffc700;
}

.free-img-vdo {
  //background-color: #1e90ff;
  background: url("/resources/images-videos.png") no-repeat center;
}

.free-img-vdo:hover {
  background-color: #1a7de6;
}

.free-templates {
  //background-color: #32cd32;
  background: url("/resources/free-templates.png") no-repeat center;
}

.free-templates:hover {
  background-color: #2ba32b;
}

.premium-templates {
  //background-color: #ff4500;
  background: url("/resources/premium-templates.png") no-repeat center;
}

.premium-templates:hover {
  background-color: #e23a00;
}

.inspiration-galleries {
  //background-color: #8a2be2;
  background: url("/resources/inspiration-galleries.png") no-repeat center;
}

.inspiration-galleries:hover {
  background-color: #7b25c7;
}

.animations {
  //background-color: #ff1493;
  background: url("/resources/animations.png") no-repeat center;
}

.animations:hover {
  background-color: #e01280;
}

.other {
  //background-color: #696969;
  background: url("/resources/others.png") no-repeat center;
}

.other:hover {
  background-color: #e7e7e7;
}

.ai-tools {
  background: url("/resources/ai-tools.png") no-repeat center;
}

.ai-tools:hover {
  background-color: #ff7f50;
}

.html_resource {
  //background-color: #e34c26;
  background: url("/resources/html.png") no-repeat center;
  background-color: #e03409;
}

.css_resource {
  //background-color: #2965f1;
  background: url("/resources/css.png") no-repeat center;
  background-color: #0c51f1;
}

.js_resource {
  //background-color: #f7df1e;
  background: url("/resources/js.png") no-repeat center;
  background-color: #f6da0a;
}

.ts_resource {
  //background-color: #3178c6;
  background: url("/resources/typescript.png") no-repeat center;
  background-color: #186dc7;
}

.vue_resource {
  // background-color: #4fc08d;
  background: url("/resources/vue.png") no-repeat center;
  background-color: #28be7b;
}

.react_resource {
  background: url("/resources/react.png") no-repeat center;
  background-color: #1fcaf9;
}

.react-native_resource {
  background: url("/resources/react-native.png") no-repeat center;
  background-color: #1fcaf9;
}

.angular_resource {
  background: url("/resources/angularjs.png") no-repeat center;
  background-color: #e23a5e;
}

.flutter_resource {
  background: url("/resources/flutter.png") no-repeat center;
  background-color: #1fcaf9;
}

.git_resource {
  //background-color: #f34f29;
  background: url("/resources/git.png") no-repeat center;
  background-color: #c74321;
}

.free-icons_resource {
  background: url("/resources/free-icons.png") no-repeat center;
  background-color: #ffc700;
}

.free-img-vdo_resource {
  //background-color: #1e90ff;
  background: url("/resources/images-videos.png") no-repeat center;
  background-color: #1a7de6;
}

.free-templates_resource {
  //background-color: #32cd32;
  background: url("/resources/free-templates.png") no-repeat center;
  background-color: #2ba32b;
}

.premium-templates_resource {
  //background-color: #ff4500;
  background: url("/resources/premium-templates.png") no-repeat center;
  background-color: #e23a00;
}

.inspiration-galleries_resource {
  //background-color: #8a2be2;
  background: url("/resources/inspiration-galleries.png") no-repeat center;
  background-color: #7b25c7;
}

.animations_resource {
  //background-color: #ff1493;
  background: url("/resources/animations.png") no-repeat center;
  background-color: #e01280;
}

.other_resource {
  //background-color: #696969;
  background: url("/resources/others.png") no-repeat center;
  background-color: #e7e7e7;
}

.ai-tools_resource {
  background: url("/resources/ai-tools.png") no-repeat center;
  background-color: #ff7f50;
}

.html_header {
  background-color: #e03409;
}

.css_header {
  background-color: #0c51f1;
}

.javascript_header {
  background-color: #f6da0a;
}

.typescript_header {
  background-color: #186dc7;
}

.vue_header {
  background-color: #28be7b;
}

.react_header {
  background-color: #1fcaf9;
}

.reactnative_header {
  background-color: #1fcaf9;
}

.angular_header {
  background-color: #e23a5e;
}

.flutter_header {
  background-color: #1fcaf9;
}

.git_header {
  background-color: #c74321;
}

.freeicons_header {
  background-color: #ffc700;
}

.freeimagesandvideos_header {
  background-color: #1a7de6;
}

.freeuilibraries_header {
  background-color: #3f92bc;
}

.premiumtemplates_header {
  background-color: #e23a00;
}

.inspirationgalleries_header {
  background-color: #7b25c7;
}

.animations_header {
  background-color: #e01280;
}

.others_header {
  background-color: #848282;
}

.aitools_header {
  background-color: #ff7f50;
}